<div class="<%=universities.blockName%>">
  <div class="<%=universities.blockName%>-wrapper">
    <div class="<%=universities.blockName%>-info">
      <div class="<%=universities.blockName%>__name">
        <h1 class="<%=universities.blockName%>__title">
          <%=universities.universityName%>
        </h1>
        <p class="<%=universities.blockName%>__subtitle">
          <%=universities.description%>
        </p>
      </div>
      <!-- /.<%=universities.blockName%>__name -->
      <img
        class="universities__img <%=universities.blockName%>__img"
        src="/<%=universities.blockName%>.jpg"
        alt="image: university"
      />
    </div>
    <!-- /.<%=universities.blockName%>-info -->
  </div>
  <!-- /.<%=universities.blockName%>-wrapper -->
</div>
<!-- /.<%=universities.blockName%> -->
