<div class="<%=university.blockName%>">
  <div class="<%=university.blockName%>-wrapper">
    <div class="<%=university.blockName%>-info">
      <div class="<%=university.blockName%>__name">
        <h1 class="<%=university.blockName%>__title">
          <%=university.universityName%>
        </h1>
        <p class="<%=university.blockName%>__subtitle">
          <%=university.description%>
        </p>
      </div>
      <!-- /.<%=university.blockName%>__name -->
      <img
        class="universities__img <%=university.blockName%>__img"
        src="/<%=university.blockName%>.jpg"
        alt="image: university"
      />
    </div>
    <!-- /.<%=university.blockName%>-info -->
  </div>
  <!-- /.<%=university.blockName%>-wrapper -->
</div>
<!-- /.<%=university.blockName%> -->
