<!DOCTYPE html>
<html lang="ru">
  <head>
    <%-include('./partials/head-of-unv.ejs')%>
  </head>
 
  <body class="directions__body">
    <header class="header header--mobile--fixed">
      <%- include ('./partials/header-black-theme.ejs')%>
    </header>
 
    <div class="directions">
      <div class="container">
        <div class="directions-wrapper">
          <div class="directions-text">
            <h1 class="directions__title">направления обучения</h1>
          </div>
          <!-- ./directions-text -->
          <div class="direction">
            <% for(var i=0; i < faculty.getdirections.length; i++) {%>          
            <div class="direction__card">
              <div class="direction__block">
                <div class="direction__name">
                  <p class="direction__title">
                    <%= faculty.getdirections[i].title %>
                  </p>
                </div>
                <div class="subjects">
                  <div class="subjects__block">
                    <% for(var j=0; j < faculty.getdirections[i].subjects.length; j++) {%>
                    <div class="subjects__item">
                      <a target="_blank" class="subjects__name" 
                      href="/subjects/<%= faculty.getdirections[i].subjects[j].id%>"
                        >
                        <%= faculty.getdirections[i].subjects[j].item %>
                      </a>
                    </div>
                     <% } %>
                  </div>
                </div>
                <img src="/down2.png" alt="" class="directionarrow" />
              </div>
              <!-- /.direction__block -->
            </div>
            <!-- /.direction__card -->
            <% } %>
          </div>
          <!-- /.direction -->
        </div>
        <!-- /.directions-wrapper -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.directions -->
    <script src="/arrow.js" defer></script>
  </body>
</html>